extends ../layout

block content
    .row
        .col-sm-12
             h1 Items in Inventory
                    
    table.table
        thead
            tr
                th Name
                th Price
                th Quantity
             
        tbody
            each product in products
                tr
                    td= product.name
                    td= product.price
                    td= product.quantity
                    td
                        a(href="/products/cart/" + product._id, class="btn btn-success" ) Update
                    td
                        a(href="/products/cart/" + product._id, class="btn btn-success" ) Delete
        
                    
                        
                        
                    
                    
                    