extends ../layout

block content
    .row
        .col-sm-8
             h1 Items in Inventory
        .col-sm-4
             a(href="/products/add", class = "btn btn-primary") Add in Inventory         
    table.table 
        thead
            tr
                th Name
                th Price
                th Quantity
                th Update
                th Delete
             
        tbody
            each product in products
                tr
                    td= product.name
                    td= product.price
                    td= product.quantity
                    td
                        a(href="/products/update/" + product._id, class="btn btn-warning" ) Update
                    td
                        a(href="/products/delete/" + product._id, class="btn btn-danger" ) Delete
        
                    
                        
                        
                    
                    
                    