extends ../layout

block content
    .row
        .col-sm-12
             h1 CUSTOMERS REGISTERED
                    
    table.table
        thead
            tr
                th Name
                th DOB
                th Email
             
        tbody
            each cust in info
                tr
                    td= cust.name
                    td= cust.dob
                    td= cust.email
                   
        
                    
                        
                        
                    
                    
                    